.separator {
    border-left: 3px solid rgb(78, 82, 78);
    height: 40px;
    margin-left: 12px;
    margin-right: 10px;
    margin-top: 3px;
  }

.shape{
    height: 65px;
}

.btn_shape{
    height: 40px;
    margin-top: 3px;
}

.select_shape{
    width:100px;
    height: 38px;
    font-size: smaller;
}

