<nav class="navbar navbar-light justify-content-between shape bg-primary">
   <h1 class="display-1"> <a class="navbar-brand text-light">MyShoppingList</a> </h1>

    <div class="form-inline">
        <div class="input-group mb-3">
            <input class="form-control btn_shape" type="search" placeholder="Search" aria-label="Search" >
            <div class="input-group-prepend">
                <button class="btn btn-dark btn-outline-light btn_shape" type="submit">Search</button>
            </div>
            <div class="separator"></div>
            <button class="btn btn-success btn-outline-light btn_shape " (click)="authenticate()" type="button">Authenticate</button>
            <div class="separator"></div>
            <mat-form-field appearance="outline" class="select_shape" floatLabel="never">
                <mat-label class="text-light font-weight-bolder">Language</mat-label>
                <mat-select class="bg-primary text-light">
                  <mat-option *ngFor="let language of listLanguage" [value]="language" class="bg-primary text-light">
                    {{language}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
  </nav>