.my-card{
    height:auto;
    width:auto;
    margin: 5px;
    -webkit-box-shadow: 0px 2px 19px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 19px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 19px -9px rgba(0,0,0,0.75); 
    transition: border 0.5s;
    margin-right: 7%;
    margin-top: 3%;
}
  
  .flex-shrink {
    flex:0 0 100%;
  }
  
  @media (max-width:768px) {
    .flex-shrink {
      flex:0 0 500px;
    }
  }
  .my-card:hover{
    border: 3px solid #007bff!important;
  }
